$block: '.modification';

#{$block} {
    align-items: stretch;
    flex-shrink: 0;
    gap: 10px;

    &__title {
        align-self: center;
        margin-bottom: 20px;
    }

    &__hidden {
        opacity: 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
