$block: '.canvas';

#{$block} {
    display: inline-block;
    overflow: scroll;
    border: 1px solid var(--g-color-base-generic-medium);
    box-sizing: border-box;

    width: 100%;
    height: 70vh;

    &__container {
        display: inline-flex;
        gap: 20px;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
    }
}
